@import url('./reset.css');
@import url('./bootstrap.min.css');
@import url('./bootstrap-icons-1.8.1/bootstrap-icons.css');
@import url('./alterações/navbar.css');
@import url('./alterações/Card.css');
@import url('./alterações/Carousel.css');

.bg-primary{
    background-color: green !important;
}

#container-form{
    display: flex;
    height: 100%;
    align-items: center;
}
