@import url('./reset.css');
@import url('./bootstrap.min.css');
@import url('./bootstrap-icons-1.8.1/bootstrap-icons.css');
@import url('./alterações/navbar.css');
@import url('./alterações/Card.css');
@import url('./alterações/Carousel.css');

.bg-primary{
    background-color: green !important;
}

.btn-outline-primary{
    color: green;
    border-color: green;
}
.btn-outline-primary:hover{
    background-color: green;
    border-color: green;
}

#container-form{
    display: flex;
    height: 100%;
    align-items: center;
}
<<<<<<< HEAD
=======

img {
    object-fit: contain;
    background-color: #ccc;
}

.info-produto{
    text-align: right;
}
>>>>>>> d44793c186e26e9e11afd313309e2d42d61ae5bc
