
.carousel-item{
    height: 20rem;
    transition: .5s;
}

#carousel-section{
    margin-bottom: 20px;
}

#carousel-section .container-fluid{
   padding: 0%;
}

.carousel-inner{
    transition: 1s;
}

h2{
    text-shadow: 1px 1px 7px black;
}
